.wrapper {
  width: 715px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  margin: 100px;
}
.wrapper .wrapper {
  width: 715px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.wrapper .wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper .wrapper form {
  margin: 35px 30px;
}
.wrapper .wrapper form.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.wrapper form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.wrapper .dbl-field .field {
  height: 50px;
  display: flex;
  position: relative;
  width: calc(50% - 13px);
}
.wrapper .wrapper form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
.wrapper form .field input,
.wrapper form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.wrapper .field input::placeholder,
.wrapper .message textarea::placeholder {
  color: #ccc;
}
.wrapper .field input:focus,
.wrapper .message textarea:focus {
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}
.wrapper .field input:focus ~ i,
.wrapper .message textarea:focus ~ i {
  color: #0D6EFD;
}
.wrapper form .message {
  position: relative;
}
.wrapper form .message i {
  top: 30px;
  font-size: 20px;
}
.wrapper form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
.wrapper form .message textarea::-webkit-scrollbar {
  width: 0px;
}
.wrapper .message textarea:focus {
  padding-top: 14px;
}
.wrapper form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.wrapper .button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #0D6EFD;
  transition: background 0.3s ease;
}
.wrapper .button-area button:hover {
  background: #025ce3;
}
.wrapper .button-area span {
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px) {
  .wrapper .wrapper header {
    text-align: center;
  }
  .wrapper .wrapper form {
    margin: 35px 20px;
  }
  .wrapper form .dbl-field {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .wrapper form .dbl-field .field {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  .wrapper form .message textarea {
    resize: none;
  }
  .wrapper form .button-area {
    margin-top: 20px;
    flex-direction: column;
  }
  .wrapper .button-area button {
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .wrapper .button-area span {
    margin: 20px 0 0;
    text-align: center;
  }
}
.wrapper .wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper .wrapper form {
  margin: 35px 30px;
}
.wrapper .wrapper form.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.wrapper form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.wrapper .dbl-field .field {
  height: 50px;
  display: flex;
  position: relative;
  width: calc(50% - 13px);
}
.wrapper .wrapper form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
.wrapper form .field input,
.wrapper form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.wrapper .field input::placeholder,
.wrapper .message textarea::placeholder {
  color: #ccc;
}
.wrapper .field input:focus,
.wrapper .message textarea:focus {
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}
.wrapper .field input:focus ~ i,
.wrapper .message textarea:focus ~ i {
  color: #0D6EFD;
}
.wrapper form .message {
  position: relative;
}
.wrapper form .message i {
  top: 30px;
  font-size: 20px;
}
.wrapper form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
.wrapper form .message textarea::-webkit-scrollbar {
  width: 0px;
}
.wrapper .message textarea:focus {
  padding-top: 14px;
}
.wrapper form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.wrapper .button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #0D6EFD;
  transition: background 0.3s ease;
}
.wrapper .button-area button:hover {
  background: #025ce3;
}
.wrapper .button-area span {
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px) {
  .wrapper .wrapper header {
    text-align: center;
  }
  .wrapper .wrapper form {
    margin: 35px 20px;
  }
  .wrapper form .dbl-field {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .wrapper form .dbl-field .field {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  .wrapper form .message textarea {
    resize: none;
  }
  .wrapper form .button-area {
    margin-top: 20px;
    flex-direction: column;
  }
  .wrapper .button-area button {
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .wrapper .button-area span {
    margin: 20px 0 0;
    text-align: center;
  }
}