@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
:root {
  --site-header-height: 105px;
}

.site-footer {
  background: #f1f7ff;
  color: #3f597b;
  position: relative;
}
.site-footer-details {
  padding: 4em;
  flex-wrap: wrap;
}
.site-footer-details a {
  color: unset;
  text-decoration: none;
}
.site-footer-details a:hover {
  color: #6a9cdf;
}
.site-footer-details .col-12 {
  margin-bottom: 30px;
}
.site-footer-details h4 {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
  text-transform: uppercase;
  position: relative;
}
.site-footer-details h4::after {
  content: "";
  width: 30%;
  height: 3px;
  background: #3b5577;
  position: absolute;
  border: 0;
  left: 0;
  bottom: -15px;
}
.site-footer-details--information p {
  margin-bottom: 1.2rem;
  font-weight: 300;
  padding-right: 3.4rem;
}
.site-footer-details--information p i {
  margin-right: 15px;
}
.site-footer-details--data {
  word-break: break-all;
}
.site-footer-details--data p i {
  padding: 0 20px 20px 0;
  color: #fff;
}
.site-footer-details--data p i::before {
  background: rgb(146, 158, 173);
  padding: 10px;
  border-radius: 50%;
  font-size: 1.2rem;
}
.site-footer-details--icons .icons-element {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  flex-wrap: wrap;
}
.site-footer-details--icons .icons-element a {
  text-decoration: none;
  word-break: break-word;
}
.site-footer-details--icons .icons-element a i {
  font-style: normal;
  background: rgb(146, 158, 173);
  border-radius: 5px;
  margin: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.site-footer-details--icons .icons-element a i::before {
  font: 700 1.2rem "Font Awesome 5 Brands";
  color: #fff;
}
.site-footer-details--icons .icons-element a i:hover {
  background: #fff;
  border: 1px solid #6a9cdf;
}
.site-footer-details--icons .icons-element a i:hover::before {
  color: #6a9cdf;
}
.site-footer::before {
  content: "";
  background: url(../img/favicon.png) no-repeat;
  width: 147px;
  height: 158px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: contain;
  opacity: 0.1;
}
.site-footer--copyrights {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}
.site-footer--copyrights p {
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
  color: rgb(146, 158, 173);
}
.site-footer--copyrights p a {
  text-decoration: none;
  color: rgb(146, 158, 173);
  cursor: pointer;
  transition: 5ms;
}
.site-footer--copyrights p a:hover {
  color: #6a9cdf;
}