@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;600;700;800&display=swap");
:root {
  --site-header-height: 105px;
}

.site-footer {
  background: #fff;
  color: #333;
}
.site-footer-details {
  padding: 4em;
  column-gap: 30px;
}
.site-footer-details h4 {
  font-size: 24px;
  margin-bottom: 3.5rem;
  text-transform: uppercase;
  position: relative;
}
.site-footer-details h4::after {
  content: "";
  width: 30%;
  height: 3px;
  background: #3b5577;
  position: absolute;
  border: 0;
  left: 0;
  bottom: -15px;
}
.site-footer-details--information p {
  margin-bottom: 1.2rem;
  font-weight: 300;
  padding-right: 3.4rem;
}
.site-footer-details--information p i {
  margin-right: 15px;
}
.site-footer-details--data p i {
  padding: 0 20px 20px 0;
  color: #fff;
}
.site-footer-details--data p i::before {
  background: rgb(146, 158, 173);
  padding: 10px;
  border-radius: 50%;
  font-size: 1.2rem;
}
.site-footer-details--icons .icons-element {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.site-footer-details--icons .icons-element a {
  text-decoration: none;
}
.site-footer-details--icons .icons-element a i {
  font-style: normal;
  background: rgb(146, 158, 173);
  border-radius: 5px;
  margin: 0px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-footer-details--icons .icons-element a i::before {
  font: 700 1.2rem "Font Awesome 5 Brands";
  color: #fff;
  transition: transform 300ms ease-in;
  transform: rotate(360deg);
  transition: 0.3s;
}
.site-footer-details--icons .icons-element a i:hover::before {
  color: #3b5577;
}
.site-footer--copyrights {
  display: flex;
  flex-direction: row;
  background: #fff;
  padding: 0 30px;
}
.site-footer--copyrights p {
  text-align: center;
  padding: 15px;
  margin-bottom: 0px;
  color: rgb(146, 158, 173);
}
.site-footer--copyrights p a {
  text-decoration: none;
  color: rgb(146, 158, 173);
  cursor: pointer;
}
.site-footer--copyrights p a:hover {
  color: #4179fd;
}