@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
:root {
  --site-header-height: 105px;
}

.site-top {
  height: 100vh;
}
@media (max-width: 991px) {
  .site-top {
    height: unset;
  }
}
.site-top .site-header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  padding: 25px 25px 0;
  min-height: var(--site-header-height);
  z-index: 1;
}
.site-top .site-header-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .site-top .site-header-wrapper {
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0;
  }
}
.site-top .site-header-wrapper__details-logo img {
  max-width: 200px;
}
.site-top .site-header-wrapper__right {
  height: 100%;
}
@media (max-width: 991px) {
  .site-top .site-header-wrapper__right {
    padding: 25px 25px 0;
  }
}
.site-top .site-header-wrapper__right .row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
.site-top .site-header-wrapper__right-social-icons {
  justify-content: flex-end;
  column-gap: 10px;
}
.site-top .site-header-wrapper__right-social-icons a {
  text-decoration: none;
  transition: 1s;
}
.site-top .site-header-wrapper__right-social-icons a i {
  font-style: normal;
  z-index: 3;
}
.site-top .site-header-wrapper__right-social-icons a i::before {
  font: 700 1.6rem "Font Awesome 5 Brands";
  color: #333;
}
.site-top .site-header-wrapper__right-social-icons a:hover {
  transform: rotateY(360deg);
}
.site-top .site-header-wrapper__right-social-icons a:hover i::before {
  color: #6a9cdf;
}
@media (min-width: 991px) {
  .site-top .sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: #f1f7ff;
    z-index: 3;
    padding: 0;
    transition: 0.5s;
    min-height: 65px !important;
    transition: 500ms ease-in-out;
  }
  .site-top .sticky .row {
    height: 100%;
  }
  .site-top .sticky .site-header-wrapper {
    z-index: 1;
    padding: 0 35px;
  }
}
@media (min-width: 991px) and (max-width: 991px) {
  .site-top .sticky .site-header-wrapper {
    flex-direction: row;
  }
}
@media (min-width: 991px) {
  .site-top .sticky .site-header-wrapper__details img {
    max-width: 130px;
  }
}
@media (min-width: 991px) {
  .site-top .sticky .site-header-wrapper .site-menu-item--link {
    color: #333;
  }
  .site-top .sticky .site-header-wrapper .site-menu-item--link:hover {
    color: #333;
  }
  .site-top .sticky .site-header-wrapper .site-menu-item--link:hover .line1,
.site-top .sticky .site-header-wrapper .site-menu-item--link:hover .line2,
.site-top .sticky .site-header-wrapper .site-menu-item--link:hover .line3,
.site-top .sticky .site-header-wrapper .site-menu-item--link:hover .line4 {
    background: #333;
  }
}

body.inner-page .site-top {
  height: 100%;
}
body.inner-page .site-top .site-header {
  position: relative;
}