@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
:root {
  --site-header-height: 105px;
}

.site-container {
  font: 16px "Sen", sans-serif;
  color: #333;
}
.site-container .site-content {
  margin-top: -180px;
}
.site-container .site-content__row-0, .site-container .site-content__row-1, .site-container .site-content__row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-container .site-content__row-0 h2, .site-container .site-content__row-1 h2, .site-container .site-content__row-2 h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #3b5577;
  letter-spacing: 2px;
  position: relative;
}
.site-container .site-content__row-0 h2::after, .site-container .site-content__row-1 h2::after, .site-container .site-content__row-2 h2::after {
  content: "";
  width: 35%;
  height: 3px;
  background: #fff;
  color: #fff;
  position: absolute;
  border: 0;
  bottom: 36px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.site-container .site-content__row-0 .content-wrapper {
  max-width: 100%;
  margin: 50px auto;
}
.site-container .site-content__row-0 .content-wrapper h2 {
  color: rgb(31, 122, 208);
  text-align: center;
  padding-bottom: 50px;
}
.site-container .site-content__row-0 .components {
  justify-content: space-between;
}
.site-container .site-content__row-0 .components .col-3 {
  padding: 0 5px;
}
.site-container .site-content__row-0 .components__item {
  text-align: center;
  align-items: center;
  height: 250px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.site-container .site-content__row-0 .components__item h5 {
  font-weight: 600;
  color: #fff;
  font-size: 1.4rem;
  width: 95%;
}
.site-container .site-content__row-0 .components__item .image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
  transition: all 400ms ease;
}
.site-container .site-content__row-0 .components__item .image img {
  max-width: 70px;
}
.site-container .site-content__row-0 .components__item .image:hover {
  transform: rotate(30deg);
}
.site-container .site-content__row-0 .components__item1 {
  background: #3b5577;
}
.site-container .site-content__row-0 .components__item2 {
  background: #5C7390;
}
.site-container .site-content__row-0 .components__item3 {
  background: #8899AF;
}
.site-container .site-content__row-0 .components__item4 {
  background: #9ca5af;
}
.site-container .site-content__row-1 {
  background: #fff;
  height: 100vh;
}
.site-container .site-content__row-1 .about-me {
  max-width: 75%;
  margin: 0px auto;
  align-items: center;
}
.site-container .site-content__row-1 .about-me-textBlock {
  box-shadow: 0px 0px 2px 1px #c1c1c1;
  padding: 20px 90px 20px 20px;
  height: 100%;
  z-index: 1;
  background: #fff;
}
.site-container .site-content__row-1 .about-me-textBlock h2,
.site-container .site-content__row-1 .about-me-textBlock h3,
.site-container .site-content__row-1 .about-me-textBlock p {
  color: #333;
}
.site-container .site-content__row-1 .about-me-textBlock h2 {
  font-size: 3.4rem;
  font-weight: 800;
  color: #3b5577;
}
.site-container .site-content__row-1 .about-me-textBlock h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: normal;
}
.site-container .site-content__row-1 .about-me-textBlock p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  line-height: 1.2;
}
.site-container .site-content__row-1 .about-me-textBlock .socials .fab {
  border-radius: 50%;
  background-color: #0e76a8;
  font-size: 30px;
  padding: 15px;
  color: #fff;
}
.site-container .site-content__row-1 .about-me-imageBlock {
  padding: 0px;
  height: 360px;
  display: flex;
  justify-content: flex-start;
  margin-left: -45px;
  position: relative;
}
.site-container .site-content__row-1 .about-me-imageBlock img {
  height: 100%;
  box-shadow: 44px -44px #a1b3b5;
  z-index: 2;
}
.site-container .site-content__row-1 .about-me-imageBlock::before {
  content: "";
  background: url("../img/dots.jpg");
  width: 462px;
  height: 100px;
  z-index: 0;
  position: absolute;
  opacity: 0.5;
  background-size: cover;
  border: 0;
  margin-bottom: 0px;
  position: absolute;
  bottom: -100px;
  left: -140px;
}
.site-container .site-content__row-2 {
  flex-direction: column;
  height: auto;
  margin-top: 50px;
}
.site-container .site-content__row-2 .elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.site-container .site-content__row-2 .elements::before {
  content: "";
  background: url("../img/favicon.png") no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 2;
  top: -80px;
  margin: 0 auto;
  right: 0;
  left: 0;
  background-position: center;
  background-size: contain;
}
.site-container .site-content__row-2 .elements-item {
  position: relative;
  cursor: pointer;
  flex: 0 0 100%;
  max-width: 50%;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 550ms ease-in;
}
.site-container .site-content__row-2 .elements-item img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  transition: all 350ms ease-in;
}
.site-container .site-content__row-2 .elements-item::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  background: green;
}
.site-container .site-content__row-2 .elements-item .tekst {
  position: absolute;
  color: #fff;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
}
.site-container .site-content__row-2 .elements-item .tekst h5 {
  font-size: 3rem;
  font-weight: 700;
}
.site-container .site-content__row-2 .elements-item .tekst p {
  text-align: center;
  font-size: 1.5rem;
}
.site-container .site-content__row-2 .elements-item1::before {
  background: rgba(59, 85, 119, 0.7);
}
.site-container .site-content__row-2 .elements-item2::before {
  background: rgba(59, 85, 119, 0.7);
}
.site-container .site-content__row-2 .elements-item3::before {
  background: rgba(59, 85, 119, 0.7);
}
.site-container .site-content__row-2 .elements-item4::before {
  background: rgba(59, 85, 119, 0.7);
}
.site-container .site-content__row-2 .elements-item:hover img {
  transform: scale(1.1);
}
.site-container .site-content__row-2 .elements-item:hover::before {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.site-container .site-content__row-3 .ig-embeded {
  margin: 35px 30px;
  align-items: center;
}
.site-container .site-content__row-3 .ig-embeded_details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #333;
  height: 180px;
  padding: 0px;
}
.site-container .site-content__row-3 .ig-embeded_details::before {
  content: "";
  height: 100%;
  background: #d0def1;
  margin-right: 0;
  width: 10%;
  position: absolute;
  transition: all 250ms ease-in-out;
  z-index: -1;
}
.site-container .site-content__row-3 .ig-embeded_details:hover::before {
  width: 80%;
}
.site-container .site-content__row-3 .ig-embeded_details:hover p {
  transform: scale(1.02);
}
.site-container .site-content__row-3 .ig-embeded_details h3 {
  color: #333;
  font: 500 38px Sen;
  padding: 0 10px;
}
.site-container .site-content__row-3 .ig-embeded_details p {
  transition: all 250ms ease-in-out;
  font-size: 17px;
  margin: 0px 10px;
}
.site-container .site-content__row-3 .ig-embeded_details i {
  margin-left: 10px;
  color: #6a9cdf;
}
.site-container .site-content__row-3 .ig-embeded_details i::before {
  font: 700 1.2rem "Font Awesome 5 Brands";
}
.site-container .site-content__row-3 .ig-embeded_images {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.site-container .site-content__row-3 .ig-embeded_images #ig-embeded-container a:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
}
.site-container .site-content__row-3 .ig-embeded_images #ig-embeded-container img {
  width: 180px;
  margin: 5px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  position: relative;
}