@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
:root {
  --site-header-height: 130px;
}

.site-container {
  font: 16px "Sen", sans-serif;
  color: #333;
}
.site-container .site-content__row-0, .site-container .site-content__row-1, .site-container .site-content__row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-container .site-content__row-0 h2, .site-container .site-content__row-1 h2, .site-container .site-content__row-2 h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #3b5577;
  letter-spacing: 2px;
  position: relative;
}
.site-container .site-content__row-0 h2::after, .site-container .site-content__row-1 h2::after, .site-container .site-content__row-2 h2::after {
  content: "";
  width: 35%;
  height: 3px;
  background: #fff;
  color: #fff;
  position: absolute;
  border: 0;
  bottom: 36px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.site-container .site-content__row-0 .content-wrapper {
  max-width: 70%;
  margin: 50px auto;
}
.site-container .site-content__row-0 .content-wrapper h2 {
  color: rgb(31, 122, 208);
  text-align: center;
  padding-bottom: 50px;
}
.site-container .site-content__row-0 .components {
  justify-content: space-between;
}
.site-container .site-content__row-0 .components .item {
  text-align: center;
  align-items: center;
  height: 450px;
  padding: 0 20px;
  border-radius: 25px;
  box-shadow: 0 0 1em #4a4a4a;
  background: #fff;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.site-container .site-content__row-0 .components .item h5 {
  font-weight: 600;
  color: #3b5577;
  margin-bottom: 30px;
  font-size: 1.4rem;
}
.site-container .site-content__row-0 .components .item .image {
  background: rgb(177, 199, 158);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: all 400ms ease;
}
.site-container .site-content__row-0 .components .item .image img {
  max-width: 100px;
}
.site-container .site-content__row-0 .components .item .image:hover {
  transform: rotate(360deg);
}
.site-container .site-content__row-1 {
  background: #fff;
}
.site-container .site-content__row-1 .about-me {
  max-width: 75%;
  margin: 0px auto;
  align-items: center;
}
.site-container .site-content__row-1 .about-me-textBlock {
  box-shadow: 0px 0px 2px 1px #c1c1c1;
  padding: 20px 90px 20px 20px;
  height: 100%;
  z-index: 1;
  background: #fff;
}
.site-container .site-content__row-1 .about-me-textBlock h2,
.site-container .site-content__row-1 .about-me-textBlock h3,
.site-container .site-content__row-1 .about-me-textBlock p {
  color: #333;
}
.site-container .site-content__row-1 .about-me-textBlock h2 {
  font-size: 3.4rem;
  font-weight: 800;
  color: #3b5577;
}
.site-container .site-content__row-1 .about-me-textBlock h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: normal;
}
.site-container .site-content__row-1 .about-me-textBlock p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  line-height: 1.2;
}
.site-container .site-content__row-1 .about-me-textBlock .socials .fab {
  border-radius: 50%;
  background-color: #0e76a8;
  font-size: 30px;
  padding: 15px;
  color: #fff;
}
.site-container .site-content__row-1 .about-me-imageBlock {
  padding: 0px;
  height: 360px;
  display: flex;
  justify-content: flex-start;
  margin-left: -45px;
  position: relative;
}
.site-container .site-content__row-1 .about-me-imageBlock img {
  height: 100%;
  box-shadow: 44px -44px #a1b3b5;
  z-index: 2;
}
.site-container .site-content__row-1 .about-me-imageBlock::before {
  content: "";
  background: url("../img/dots.jpg");
  width: 462px;
  height: 100px;
  z-index: 0;
  position: absolute;
  opacity: 0.5;
  background-size: cover;
  border: 0;
  margin-bottom: 0px;
  position: absolute;
  bottom: -100px;
  left: -140px;
}
.site-container .site-content__row-2 {
  flex-direction: column;
  height: auto;
}
.site-container .site-content__row-2 .elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.site-container .site-content__row-2 .elements::before {
  content: "";
  background: url("../img/favicon.png") no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 2;
  top: -80px;
  margin: 0 auto;
  right: 0;
  left: 0;
  background-position: center;
  background-size: contain;
}
.site-container .site-content__row-2 .elements-item {
  position: relative;
  cursor: pointer;
  flex: 0 0 100%;
  max-width: 50%;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 550ms ease-in;
}
.site-container .site-content__row-2 .elements-item img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  transition: all 350ms ease-in;
}
.site-container .site-content__row-2 .elements-item::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  background: green;
}
.site-container .site-content__row-2 .elements-item .tekst {
  position: absolute;
  color: #fff;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
}
.site-container .site-content__row-2 .elements-item .tekst h5 {
  font-size: 3rem;
  font-weight: 700;
}
.site-container .site-content__row-2 .elements-item .tekst p {
  text-align: center;
  font-size: 1.5rem;
}
.site-container .site-content__row-2 .elements-item1::before {
  background: rgba(59, 85, 119, 0.7);
}
.site-container .site-content__row-2 .elements-item2::before {
  background: rgba(109, 132, 164, 0.7);
}
.site-container .site-content__row-2 .elements-item3::before {
  background: rgba(77, 114, 70, 0.7);
}
.site-container .site-content__row-2 .elements-item4::before {
  background: rgba(177, 199, 158, 0.7);
}
.site-container .site-content__row-2 .elements-item:hover img {
  transform: scale(1.1);
}
.site-container .site-content__row-2 .elements-item:hover::before {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
}