@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
:root {
  --site-header-height: 130px;
}

.site-menu {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.site-menu-item {
  list-style: none;
}
.site-menu-item--link {
  text-decoration: none;
  color: #3b5577;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  position: relative;
}
.site-menu-item--link:hover {
  font-weight: 600;
  color: #3b5577;
}
.site-menu-item--link:hover::before {
  width: 100%;
}
.site-menu-item--link:hover .line1,
.site-menu-item--link:hover .line2,
.site-menu-item--link:hover .line3,
.site-menu-item--link:hover .line4 {
  position: absolute;
  background: #3b5577;
}
.site-menu-item--link:hover .line1 {
  animation: move1 1500ms infinite ease;
  width: 1px;
  left: 0;
  bottom: 0;
}
.site-menu-item--link:hover .line2 {
  animation: move2 1500ms infinite ease;
  height: 1px;
  left: 0;
  top: 0;
}
.site-menu-item--link:hover .line3 {
  animation: move3 1500ms infinite ease;
  width: 1px;
  top: 0;
  right: 0;
}
.site-menu-item--link:hover .line4 {
  animation: move4 1500ms infinite ease;
  height: 1px;
  right: 0;
  bottom: 0;
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(24, 26, 30);
  z-index: 5;
  padding: 20px 0;
}
.sticky ul {
  width: 60%;
  margin: 0 auto;
}
.sticky ul li a {
  color: #fff;
}
.sticky ul li a:hover {
  color: #fff;
}
.sticky ul li a:hover .line1, .sticky ul li a:hover .line2, .sticky ul li a:hover .line3, .sticky ul li a:hover .line4 {
  background: #fff;
}