@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.site-menu {
  display: flex;
  justify-content: space-evenly;
}
.site-menu-item {
  list-style: none;
}
.site-menu-item--link {
  text-decoration: none;
  color: #333;
}