@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
:root {
  --site-header-height: 105px;
}

.site-menu {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.site-menu-item {
  list-style: none;
}
.site-menu-item--link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
  font-size: 1.1rem;
}
.site-menu-item--link:hover {
  color: #3b5577;
}
.site-menu-item--link:hover::before {
  width: 100%;
}
.site-menu-item--link:hover .line1,
.site-menu-item--link:hover .line2,
.site-menu-item--link:hover .line3,
.site-menu-item--link:hover .line4 {
  position: absolute;
  background: #3b5577;
}
.site-menu-item--link:hover .line1 {
  animation: move1 1500ms infinite ease;
  width: 1px;
  left: 0;
  bottom: 0;
}
.site-menu-item--link:hover .line2 {
  animation: move2 1500ms infinite ease;
  height: 1px;
  left: 0;
  top: 0;
}
.site-menu-item--link:hover .line3 {
  animation: move3 1500ms infinite ease;
  width: 1px;
  top: 0;
  right: 0;
}
.site-menu-item--link:hover .line4 {
  animation: move4 1500ms infinite ease;
  height: 1px;
  right: 0;
  bottom: 0;
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6a9cdf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(106, 157, 223, 0.6);
}