@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
:root {
  --site-header-height: 105px;
}

.slideshow .slider {
  margin-bottom: 0px !important;
}
.slideshow .slider-item-image {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
.slideshow .slider-item-details {
  position: absolute;
  top: 0;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 170px;
  right: 40px;
  padding: 20px;
}
.slideshow .slider-item-details span {
  color: #6a9cdf;
}
.slideshow .slider-item-details .slider-item--text {
  color: #333;
  margin-bottom: 0px;
  line-height: 1.2;
  text-align: right;
  font: 400 3.6rem Sen, sans-serif;
}
.slideshow .slider-item-details .slider-item--button {
  border: 1px solid #333;
  background: transparent;
  margin-top: 30px;
  transition: all ease-in-out 0.5s;
}
.slideshow .slider-item-details .slider-item--button a {
  color: #333;
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 20px;
  transition: all ease-in-out 0.5s;
}
.slideshow .slider-item-details .slider-item--button:hover {
  background: #fff;
}
.slideshow .slider-item-details .slider-item--button:hover a {
  color: #6a9cdf;
}
.slideshow .slider .slick-dots {
  bottom: 25px;
  display: flex !important;
  align-items: flex-start;
  padding: 0 20px;
}
.slideshow .slider .slick-dots li button:before {
  color: transparent;
  font-size: 1rem;
  border: 3px solid #3b5577;
  border-radius: 50%;
}