@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
:root {
  --site-header-height: 130px;
}

.slideshow .slider {
  margin-bottom: 0px !important;
}
.slideshow .slider-item-image {
  width: 100%;
  object-fit: cover;
  height: calc(100vh - var(--site-header-height));
}
.slideshow .slider-item-details {
  position: absolute;
  top: 0;
  width: 620px;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 70px;
  right: 50px;
  background: rgba(0, 0, 0, 0.1882352941);
  padding: 20px;
}
.slideshow .slider-item-details .slider-item--text {
  font-size: 2.6rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.slideshow .slider-item-details .slider-item--button {
  border: 1px solid #fff;
  background: transparent;
  margin-top: 30px;
  transition: all ease-in-out 0.5s;
}
.slideshow .slider-item-details .slider-item--button a {
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 20px;
  transition: all ease-in-out 0.5s;
}
.slideshow .slider-item-details .slider-item--button:hover {
  background: #fff;
}
.slideshow .slider-item-details .slider-item--button:hover a {
  color: #5e9106;
}
.slideshow .slider .slick-arrow {
  z-index: 1;
}
.slideshow .slider .slick-arrow::before {
  font-size: 2.2rem;
}
.slideshow .slider .slick-prev {
  left: 25px;
}
.slideshow .slider .slick-prev::before {
  font-family: "Font Awesome 5 Free";
}
.slideshow .slider .slick-next {
  right: 25px;
}
.slideshow .slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
}
.slideshow .slider .slick-dots {
  bottom: 25px;
  display: flex !important;
  align-items: flex-start;
  padding: 0 20px;
}
.slideshow .slider .slick-dots li button:before {
  color: transparent;
  font-size: 1rem;
  border: 3px solid #4d7246;
  border-radius: 50%;
}