@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
:root {
  --site-header-height: 105px;
}

.slideshow .slider {
  margin-bottom: 0px !important;
}
.slideshow .slider-item-image {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
@media (max-width: 991px) {
  .slideshow .slider-item-image {
    height: 300px;
  }
}
.slideshow .slider-item-details {
  position: absolute;
  top: 0;
  max-width: 1000px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  top: 170px;
  right: 40px;
  padding: 20px;
}
@media (max-width: 991px) {
  .slideshow .slider-item-details {
    max-width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5803921569);
  }
}
.slideshow .slider-item-details span {
  position: relative;
  z-index: 1;
  font-weight: 500;
  color: #6a9cdf;
}
.slideshow .slider-item-details .slider-item--text {
  color: rgb(69, 69, 69);
  margin-bottom: 0px;
  line-height: 1.2;
  text-align: right;
  font: 400 3.6rem Sen, sans-serif;
}
@media (max-width: 991px) {
  .slideshow .slider-item-details .slider-item--text {
    font-size: 2rem;
  }
}
.slideshow .slider-item-details .slider-item--button {
  border: none;
  background: #fff;
  margin-top: 25px;
}
.slideshow .slider-item-details .slider-item--button a {
  color: #333;
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.7rem;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  z-index: 0;
  padding-right: 30px;
  display: flex;
  align-items: center;
}
.slideshow .slider-item-details .slider-item--button a:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  background-color: #6a9cdf;
  opacity: 0.7;
  height: 100%;
  width: 35%;
  margin-right: -10%;
  z-index: -1;
  top: 0;
  transition: all ease 0.3s;
}
.slideshow .slider-item-details .slider-item--button a i {
  position: absolute;
  font-size: 1.4rem;
  right: 0;
  transition: all ease 0.3s;
}
.slideshow .slider-item-details .slider-item--button:hover {
  background: #fff;
}
.slideshow .slider-item-details .slider-item--button:hover a::before {
  width: 100%;
}
.slideshow .slider-item-details .slider-item--button:hover a i {
  right: -8px;
}
.slideshow .slider .slick-dots {
  bottom: 25px;
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
}
.slideshow .slider .slick-dots li button:before {
  color: transparent;
  font-size: 1rem;
  border: 3px solid #3b5577;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .slideshow .slider .slick-dots {
    display: none;
  }
}

body.inner-page .slideshow {
  display: none;
}