@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.site-container {
  font: 16px "Quicksand", sans-serif;
  color: #333;
}

.site-header {
  display: flex;
  align-items: center;
  min-height: 150px;
  background-color: #6d84a4;
}
.site-header--details-logo img {
  max-width: 200px;
}

.site-menu {
  display: flex;
  justify-content: space-evenly;
}
.site-menu-item {
  list-style: none;
}
.site-menu-item--link {
  text-decoration: none;
  color: #333;
}