@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
:root {
  --site-header-height: 105px;
}

:root {
  --site-header-height: 105px;
}

body .site-container h1,
body .site-container h2,
body .site-container h3,
body .site-container h4,
body .site-container h5,
body .site-container h6,
body .site-container p {
  font-family: "Sen", sans-serif;
  color: #333;
}

body.main-page .site-container .site-content {
  margin-top: -180px;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content {
    margin: 50px 0;
  }
}
body.main-page .site-container .site-content__row-0, body.main-page .site-container .site-content__row-1, body.main-page .site-container .site-content__row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.main-page .site-container .site-content__row-0 h2, body.main-page .site-container .site-content__row-1 h2, body.main-page .site-container .site-content__row-2 h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #3b5577;
  letter-spacing: 2px;
  position: relative;
}
body.main-page .site-container .site-content__row-0 .content-wrapper {
  max-width: 100%;
}
body.main-page .site-container .site-content__row-0 .content-wrapper h2 {
  color: rgb(31, 122, 208);
  text-align: center;
  padding-bottom: 50px;
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components {
  justify-content: space-between;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-0 .content-wrapper-components {
    flex-wrap: wrap;
    padding: 0 50px;
  }
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components {
  padding: 0 5px;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-0 .content-wrapper-components .components {
    padding: 10px;
  }
}
@media (max-width: 450px) {
  body.main-page .site-container .site-content__row-0 .content-wrapper-components .components {
    width: 100%;
  }
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components__item {
  text-align: center;
  align-items: center;
  height: 250px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components__item h5 {
  font-weight: 600;
  color: #fff;
  font-size: 1.4rem;
  width: 95%;
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components__item .image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
  transition: all 400ms ease;
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components__item .image img {
  max-width: 70px;
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components__item .image:hover {
  transform: rotate(30deg);
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components__item1 {
  background: #3b5577;
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components__item2 {
  background: #5c7390;
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components__item3 {
  background: #8899af;
}
body.main-page .site-container .site-content__row-0 .content-wrapper-components .components__item4 {
  background: #9ca5af;
}
body.main-page .site-container .site-content__row-1 {
  background: #6d84a4;
  min-height: 300px;
  margin: 7em 0;
}
body.main-page .site-container .site-content__row-1 .quote {
  color: #fff;
  font-weight: 300;
  font-family: cursive;
  max-height: 600px;
  max-width: 72%;
  font-size: 2.3rem;
  cursor: default;
  font-family: "Courgette", cursive;
  margin: 30px 0;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-1 .quote {
    text-align: center;
    font-size: 2rem;
  }
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-1 .quote {
    font-size: 1.7rem;
  }
}
body.main-page .site-container .site-content__row-1 .quote:before, body.main-page .site-container .site-content__row-1 .quote::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  margin: -15px;
  transition: all 550ms ease-in;
}
body.main-page .site-container .site-content__row-1 .quote:before {
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  top: 0;
  left: 0;
}
body.main-page .site-container .site-content__row-1 .quote:after {
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  right: 0;
  bottom: 0;
}
body.main-page .site-container .site-content__row-1:hover .quote:before, body.main-page .site-container .site-content__row-1:hover .quote::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
}
body.main-page .site-container .site-content__row-2 {
  min-height: 620px;
  align-items: flex-start;
}
body.main-page .site-container .site-content__row-2 .about-me {
  max-width: 75%;
  align-items: center;
  margin-bottom: 35px;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-2 .about-me {
    max-width: 90%;
  }
}
@media (max-width: 450px) {
  body.main-page .site-container .site-content__row-2 .about-me {
    max-width: 100%;
  }
}
body.main-page .site-container .site-content__row-2 .about-me-textBlock {
  box-shadow: 0 0 2px 1px #c1c1c1;
  padding: 20px 90px 20px 20px;
  height: 100%;
  background: #fff;
  margin-top: 60px;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-2 .about-me-textBlock {
    order: 1;
    padding: 15px;
  }
}
body.main-page .site-container .site-content__row-2 .about-me-textBlock h2,
body.main-page .site-container .site-content__row-2 .about-me-textBlock h3,
body.main-page .site-container .site-content__row-2 .about-me-textBlock p {
  color: #333;
}
body.main-page .site-container .site-content__row-2 .about-me-textBlock h2 {
  font-size: 3.4rem;
  font-weight: 800;
  color: #3b5577;
}
@media (max-width: 9910px) {
  body.main-page .site-container .site-content__row-2 .about-me-textBlock h2 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  body.main-page .site-container .site-content__row-2 .about-me-textBlock h2 {
    font-size: 2.5rem;
  }
}
body.main-page .site-container .site-content__row-2 .about-me-textBlock h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: normal;
}
@media (max-width: 9910px) {
  body.main-page .site-container .site-content__row-2 .about-me-textBlock h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  body.main-page .site-container .site-content__row-2 .about-me-textBlock h3 {
    font-size: 1.2rem;
  }
}
body.main-page .site-container .site-content__row-2 .about-me-textBlock p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  line-height: 1.2;
}
body.main-page .site-container .site-content__row-2 .about-me-textBlock .socials .fab {
  border-radius: 50%;
  background-color: #0e76a8;
  font-size: 1.9rem;
  padding: 15px;
  color: #fff;
}
body.main-page .site-container .site-content__row-2 .about-me-imageBlock {
  padding: 0;
  height: 360px;
  display: flex;
  justify-content: flex-start;
  margin-left: -45px;
  position: relative;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-2 .about-me-imageBlock {
    justify-content: center;
    margin: 0;
    height: 350px;
  }
}
@media (max-width: 600px) {
  body.main-page .site-container .site-content__row-2 .about-me-imageBlock {
    height: 290px;
  }
}
body.main-page .site-container .site-content__row-2 .about-me-imageBlock img {
  height: 100%;
  box-shadow: 44px -44px #a1b3b5;
  z-index: 2;
}
body.main-page .site-container .site-content__row-2 .about-me-imageBlock .blok::before {
  content: "";
  background: url("../img/dots.jpg");
  width: 462px;
  height: 100px;
  z-index: -1;
  opacity: 0.5;
  background-size: cover;
  border: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: -100px;
  left: -140px;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-2 .about-me-imageBlock .blok::before {
    display: none;
  }
}
body.main-page .site-container .site-content__row-3 {
  flex-direction: column;
}
body.main-page .site-container .site-content__row-3 .elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-top: 80px;
}
body.main-page .site-container .site-content__row-3 .elements::before {
  content: "";
  background: url("../img/favicon.png") no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 2;
  top: -80px;
  margin: 0 auto;
  right: 0;
  left: 0;
  background-position: center;
  background-size: contain;
}
@media (max-width: 9910px) {
  body.main-page .site-container .site-content__row-3 .elements::before {
    width: 160px;
  }
}
@media (max-width: 450px) {
  body.main-page .site-container .site-content__row-3 .elements::before {
    width: 120px;
  }
}
body.main-page .site-container .site-content__row-3 .elements-item {
  position: relative;
  cursor: pointer;
  flex: 0 0 100%;
  max-width: 50%;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 550ms ease-in;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-3 .elements-item {
    max-width: 100%;
  }
}
body.main-page .site-container .site-content__row-3 .elements-item img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  transition: all 350ms ease-in;
}
body.main-page .site-container .site-content__row-3 .elements-item .tekst {
  position: absolute;
  color: #fff;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
}
body.main-page .site-container .site-content__row-3 .elements-item .tekst h5 {
  font-size: 3rem;
  font-weight: 700;
  color: inherit;
}
@media (max-width: 9910px) {
  body.main-page .site-container .site-content__row-3 .elements-item .tekst h5 {
    font-size: 2.5rem;
  }
}
@media (max-width: 450px) {
  body.main-page .site-container .site-content__row-3 .elements-item .tekst h5 {
    font-size: 2rem;
  }
}
body.main-page .site-container .site-content__row-3 .elements-item .tekst p {
  text-align: center;
  font-size: 1.5rem;
  color: inherit;
}
@media (max-width: 9910px) {
  body.main-page .site-container .site-content__row-3 .elements-item .tekst p {
    font-size: 1.3rem;
  }
}
@media (max-width: 450px) {
  body.main-page .site-container .site-content__row-3 .elements-item .tekst p {
    font-size: 1rem;
  }
}
body.main-page .site-container .site-content__row-3 .elements-item1::before, body.main-page .site-container .site-content__row-3 .elements-item2::before, body.main-page .site-container .site-content__row-3 .elements-item3::before, body.main-page .site-container .site-content__row-3 .elements-item4::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
body.main-page .site-container .site-content__row-3 .elements-item1::before {
  background: rgba(59, 85, 119, 0.7);
}
body.main-page .site-container .site-content__row-3 .elements-item2::before {
  background: rgba(59, 85, 119, 0.7);
}
body.main-page .site-container .site-content__row-3 .elements-item3::before {
  background: rgba(59, 85, 119, 0.7);
}
body.main-page .site-container .site-content__row-3 .elements-item4::before {
  background: rgba(59, 85, 119, 0.7);
}
body.main-page .site-container .site-content__row-3 .elements-item:hover img {
  transform: scale(1.1);
}
body.main-page .site-container .site-content__row-3 .elements-item:hover::before {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
}
body.main-page .site-container .site-content__row-4 .ig-embeded {
  margin: 70px 30px 70px 0;
  align-items: center;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-4 .ig-embeded {
    margin: 70px 0;
  }
}
body.main-page .site-container .site-content__row-4 .ig-embeded_details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #333;
  height: 180px;
  padding: 0;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-4 .ig-embeded_details {
    text-align: center;
  }
}
body.main-page .site-container .site-content__row-4 .ig-embeded_details::before {
  content: "";
  height: 100%;
  background: #d0def1;
  margin-right: 0;
  width: 10%;
  position: absolute;
  transition: all 250ms ease-in-out;
  z-index: -1;
}
body.main-page .site-container .site-content__row-4 .ig-embeded_details:hover::before {
  width: 80%;
}
body.main-page .site-container .site-content__row-4 .ig-embeded_details h3 {
  color: #333;
  font: 500 38px Sen;
  padding: 0 10px;
}
body.main-page .site-container .site-content__row-4 .ig-embeded_details p {
  transition: all 250ms ease-in-out;
  font-size: 1.06rem;
  margin: 0 10px;
}
body.main-page .site-container .site-content__row-4 .ig-embeded_details i {
  margin-left: 10px;
  color: #6a9cdf;
}
body.main-page .site-container .site-content__row-4 .ig-embeded_details i::before {
  font: 700 1.2rem "Font Awesome 5 Brands";
}
body.main-page .site-container .site-content__row-4 .ig-embeded_images {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
body.main-page .site-container .site-content__row-4 .ig-embeded_images #ig-embeded-container {
  text-align: right;
  position: relative;
}
@media (max-width: 991px) {
  body.main-page .site-container .site-content__row-4 .ig-embeded_images #ig-embeded-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
body.main-page .site-container .site-content__row-4 .ig-embeded_images #ig-embeded-container a:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
}
body.main-page .site-container .site-content__row-4 .ig-embeded_images #ig-embeded-container img {
  width: 180px;
  margin: 5px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.content-title {
  line-height: 1.2;
  font: 400 3.6rem "Sen", sans-serif;
  color: #333;
  padding: 0 35px 15px;
  margin-bottom: 0;
  margin-top: 30px;
  border-bottom: 2px solid #c4c4c4;
}
@media (max-width: 991px) {
  .content-title {
    font-size: 2.9rem;
    padding: 0px 0px 10px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .content-title {
    font-size: 2.2rem;
  }
}

.site-content-wrapper {
  margin: 5vw auto;
}

body:not(.site-menu-horizntal) .site-menu {
  flex-direction: column;
}
body:not(.site-menu-horizntal) .site-menu .site-menu-item {
  list-style-type: none;
  position: relative;
  margin-bottom: 20px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}
body:not(.site-menu-horizntal) .site-menu .site-menu-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 1px;
  background-color: #6a9cdf;
  opacity: 0.5;
}

:root {
  --site-header-height: 105px;
}

.site-top {
  height: 100vh;
}
@media (max-width: 991px) {
  .site-top {
    height: unset;
  }
}
.site-top .site-header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  padding: 25px 25px 0;
  min-height: var(--site-header-height);
  z-index: 1;
}
.site-top .site-header-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .site-top .site-header-wrapper {
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0;
  }
}
.site-top .site-header-wrapper__details-logo img {
  max-width: 200px;
}
.site-top .site-header-wrapper__right {
  height: 100%;
}
@media (max-width: 991px) {
  .site-top .site-header-wrapper__right {
    padding: 25px 25px 0;
  }
}
.site-top .site-header-wrapper__right .row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
.site-top .site-header-wrapper__right-social-icons {
  justify-content: flex-end;
  column-gap: 10px;
}
.site-top .site-header-wrapper__right-social-icons a {
  text-decoration: none;
  transition: 1s;
}
.site-top .site-header-wrapper__right-social-icons a i {
  font-style: normal;
  z-index: 3;
}
.site-top .site-header-wrapper__right-social-icons a i::before {
  font: 700 1.6rem "Font Awesome 5 Brands";
  color: #333;
}
.site-top .site-header-wrapper__right-social-icons a:hover {
  transform: rotateY(360deg);
}
.site-top .site-header-wrapper__right-social-icons a:hover i::before {
  color: #6a9cdf;
}
@media (min-width: 991px) {
  .site-top .sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: #f1f7ff;
    z-index: 3;
    padding: 0;
    transition: 0.5s;
    min-height: 65px !important;
    transition: 500ms ease-in-out;
  }
  .site-top .sticky .row {
    height: 100%;
  }
  .site-top .sticky .site-header-wrapper {
    z-index: 1;
    padding: 0 35px;
  }
}
@media (min-width: 991px) and (max-width: 991px) {
  .site-top .sticky .site-header-wrapper {
    flex-direction: row;
  }
}
@media (min-width: 991px) {
  .site-top .sticky .site-header-wrapper__details img {
    max-width: 130px;
  }
}
@media (min-width: 991px) {
  .site-top .sticky .site-header-wrapper .site-menu-item--link {
    color: #333;
  }
  .site-top .sticky .site-header-wrapper .site-menu-item--link:hover {
    color: #333;
  }
  .site-top .sticky .site-header-wrapper .site-menu-item--link:hover .line1,
.site-top .sticky .site-header-wrapper .site-menu-item--link:hover .line2,
.site-top .sticky .site-header-wrapper .site-menu-item--link:hover .line3,
.site-top .sticky .site-header-wrapper .site-menu-item--link:hover .line4 {
    background: #333;
  }
}

body.inner-page .site-top {
  height: 100%;
}
body.inner-page .site-top .site-header {
  position: relative;
}

:root {
  --site-header-height: 105px;
}

.site-menu-horizontal {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.site-menu-horizontal .site-menu-item {
  list-style: none;
}
.site-menu-horizontal .site-menu-item--link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
  font-size: 1.1rem;
  transition: all ease-in-out 150ms;
}
.site-menu-horizontal .site-menu-item--link:hover {
  color: #6a9cdf;
}
.site-menu-horizontal .site-menu-item--link:hover::before {
  width: 100%;
}
.site-menu-horizontal .site-menu-item--link:hover .line1,
.site-menu-horizontal .site-menu-item--link:hover .line2,
.site-menu-horizontal .site-menu-item--link:hover .line3,
.site-menu-horizontal .site-menu-item--link:hover .line4 {
  position: absolute;
  background: #6a9cdf;
}
.site-menu-horizontal .site-menu-item--link:hover .line1 {
  animation: move1 1500ms infinite ease;
  width: 1px;
  left: 0;
  bottom: 0;
}
.site-menu-horizontal .site-menu-item--link:hover .line2 {
  animation: move2 1500ms infinite ease;
  height: 1px;
  left: 0;
  top: 0;
}
.site-menu-horizontal .site-menu-item--link:hover .line3 {
  animation: move3 1500ms infinite ease;
  width: 1px;
  top: 0;
  right: 0;
}
.site-menu-horizontal .site-menu-item--link:hover .line4 {
  animation: move4 1500ms infinite ease;
  height: 1px;
  right: 0;
  bottom: 0;
}
.site-menu-mobile {
  background: #3b5577;
  width: 100%;
}
.site-menu-mobile .hamburger-menu {
  background: none;
  border: unset;
  color: #fff;
  font-size: 1.8rem;
  padding: 8px 25px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.site-menu-mobile .hamburger-menu:hover {
  color: #6a9cdf;
}
.site-menu-mobile .site-menu {
  background: #49607e;
  padding: 10px 20px;
  margin: 0;
}
.site-menu-mobile .site-menu .site-menu-item--link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 15px;
  letter-spacing: 1px;
}
.site-menu-mobile .site-menu .site-menu-item:hover {
  background: #536884;
}
.site-menu-mobile .active {
  display: none;
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: #6a9cdf;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(106, 157, 223, 0.6);
}

@media (max-width: 991px) {
  .stickyMenu {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
  }
}
:root {
  --site-header-height: 105px;
}

.slideshow .slider {
  margin-bottom: 0 !important;
}
.slideshow .slider-item-image {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
@media (max-width: 991px) {
  .slideshow .slider-item-image {
    height: 300px;
  }
}
.slideshow .slider-item-details {
  position: absolute;
  max-width: 1000px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  top: 170px;
  right: 40px;
  padding: 20px;
}
@media (max-width: 991px) {
  .slideshow .slider-item-details {
    max-width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5803921569);
    top: unset;
    right: 0;
  }
}
.slideshow .slider-item-details span {
  position: relative;
  z-index: 1;
  font-weight: 500;
  color: #6a9cdf;
}
.slideshow .slider-item-details .slider-item--text {
  color: rgb(69, 69, 69);
  margin-bottom: 0;
  line-height: 1.2;
  text-align: right;
  font: 400 3.6rem Sen, sans-serif;
}
@media (max-width: 991px) {
  .slideshow .slider-item-details .slider-item--text {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .slideshow .slider-item-details .slider-item--text {
    font-size: 1.5rem;
  }
}
.slideshow .slider-item-details .slider-item--button {
  border: none;
  background: rgba(255, 255, 255, 0.6);
  margin-top: 25px;
  padding: 0;
}
@media (max-width: 991px) {
  .slideshow .slider-item-details .slider-item--button {
    margin-top: 5px;
  }
}
.slideshow .slider-item-details .slider-item--button a {
  color: rgb(63, 63, 63);
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.7rem;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  z-index: 0;
  padding-right: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .slideshow .slider-item-details .slider-item--button a {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .slideshow .slider-item-details .slider-item--button a {
    font-size: 1.2rem;
  }
}
.slideshow .slider-item-details .slider-item--button a:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  background-color: #6a9cdf;
  opacity: 0.7;
  height: 100%;
  width: 35%;
  margin-right: -10%;
  z-index: -1;
  top: 0;
  transition: all ease 0.3s;
}
.slideshow .slider-item-details .slider-item--button a i {
  position: absolute;
  font-size: 1.4rem;
  right: 0;
  transition: all ease 0.3s;
}
.slideshow .slider-item-details .slider-item--button:hover a::before {
  width: 110%;
}
.slideshow .slider-item-details .slider-item--button:hover a i {
  right: -8px;
}
.slideshow .slider .slick-dots {
  bottom: 25px;
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
}
.slideshow .slider .slick-dots li button:before {
  color: transparent;
  font-size: 1rem;
  border: 3px solid #3b5577;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .slideshow .slider .slick-dots {
    display: none !important;
  }
}

body.inner-page .slideshow {
  display: none;
}

:root {
  --site-header-height: 105px;
}

.site-footer {
  background: #f1f7ff;
  color: #3f597b;
  position: relative;
}
.site-footer-details {
  padding: 4em;
  flex-wrap: wrap;
}
.site-footer-details a {
  color: unset;
  text-decoration: none;
}
.site-footer-details a:hover {
  color: #6a9cdf;
}
.site-footer-details .col-12 {
  margin-bottom: 30px;
}
.site-footer-details h4 {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
  text-transform: uppercase;
  position: relative;
}
.site-footer-details h4::after {
  content: "";
  width: 30%;
  height: 3px;
  background: #3b5577;
  position: absolute;
  border: 0;
  left: 0;
  bottom: -15px;
}
.site-footer-details--information p {
  margin-bottom: 1.2rem;
  font-weight: 300;
  padding-right: 3.4rem;
}
.site-footer-details--information p i {
  margin-right: 15px;
}
.site-footer-details--data {
  word-break: break-all;
}
.site-footer-details--data p i {
  padding: 0 20px 20px 0;
  color: #fff;
}
.site-footer-details--data p i::before {
  background: rgb(146, 158, 173);
  padding: 10px;
  border-radius: 50%;
  font-size: 1.2rem;
}
.site-footer-details--icons .icons-element {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  flex-wrap: wrap;
}
.site-footer-details--icons .icons-element a {
  text-decoration: none;
  word-break: break-word;
}
.site-footer-details--icons .icons-element a i {
  font-style: normal;
  background: rgb(146, 158, 173);
  border-radius: 5px;
  margin: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.site-footer-details--icons .icons-element a i::before {
  font: 700 1.2rem "Font Awesome 5 Brands";
  color: #fff;
}
.site-footer-details--icons .icons-element a i:hover {
  background: #fff;
  border: 1px solid #6a9cdf;
}
.site-footer-details--icons .icons-element a i:hover::before {
  color: #6a9cdf;
}
.site-footer::before {
  content: "";
  background: url(../img/favicon.png) no-repeat;
  width: 147px;
  height: 158px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: contain;
  opacity: 0.1;
}
.site-footer--copyrights {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}
.site-footer--copyrights p {
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
  color: rgb(146, 158, 173);
}
.site-footer--copyrights p a {
  text-decoration: none;
  color: rgb(146, 158, 173);
  cursor: pointer;
  transition: 5ms;
}
.site-footer--copyrights p a:hover {
  color: #6a9cdf;
}