@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --site-header-height: #fff;
}

:root {
  --site-header-height: #fff;
}

.site-container {
  font: 16px "Quicksand", sans-serif;
  color: #333;
}
.site-container .site-content__row-0, .site-container .site-content__row-1, .site-container .site-content__row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.site-container .site-content__row-0 h2, .site-container .site-content__row-1 h2, .site-container .site-content__row-2 h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #3b5577;
  letter-spacing: 2px;
  position: relative;
}
.site-container .site-content__row-0 h2::after, .site-container .site-content__row-1 h2::after, .site-container .site-content__row-2 h2::after {
  content: "";
  width: 35%;
  height: 3px;
  background: #fff;
  color: #fff;
  position: absolute;
  border: 0;
  bottom: 36px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.site-container .site-content__row-0 {
  background: #fff;
}
.site-container .site-content__row-0 .about-me {
  max-width: 75%;
  margin: 0px auto;
  align-items: center;
}
.site-container .site-content__row-0 .about-me-textBlock {
  box-shadow: -5px 7px 8px 1px #c1c1c1;
  padding: 20px 90px 20px 20px;
  height: 100%;
  z-index: 1;
  background: #fff;
}
.site-container .site-content__row-0 .about-me-textBlock h2, .site-container .site-content__row-0 .about-me-textBlock h3, .site-container .site-content__row-0 .about-me-textBlock p {
  color: #333;
}
.site-container .site-content__row-0 .about-me-textBlock h2 {
  font-size: 3.4rem;
  font-weight: 800;
  color: #3b5577;
}
.site-container .site-content__row-0 .about-me-textBlock h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: normal;
}
.site-container .site-content__row-0 .about-me-textBlock p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  line-height: 1.2;
}
.site-container .site-content__row-0 .about-me-textBlock .socials .fab {
  border-radius: 50%;
  background-color: #0e76a8;
  font-size: 30px;
  padding: 15px;
  color: #fff;
}
.site-container .site-content__row-0 .about-me-imageBlock {
  padding: 0px;
  height: 360px;
  display: flex;
  justify-content: flex-start;
  margin-left: -45px;
  position: relative;
}
.site-container .site-content__row-0 .about-me-imageBlock img {
  height: 100%;
  box-shadow: 44px -44px #334a6e;
  z-index: 2;
}
.site-container .site-content__row-0 .about-me-imageBlock::before {
  content: "";
  background: url("../img/dots.jpg");
  width: 462px;
  height: 100px;
  z-index: 0;
  position: absolute;
  opacity: 0.5;
  background-size: cover;
  border: 0;
  margin-bottom: 0px;
  position: absolute;
  bottom: -100px;
  left: -140px;
}
.site-container .site-content__row-1::before {
  content: "";
  background: url("../img/slider.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
}
.site-container .site-content__row-1 .content-wrapper {
  max-width: 70%;
  margin: 50px auto;
}
.site-container .site-content__row-1 .content-wrapper h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}
.site-container .site-content__row-1 .components {
  justify-content: space-between;
}
.site-container .site-content__row-1 .components .item {
  text-align: center;
  align-items: center;
  max-width: 31%;
  height: 350px;
  border-radius: 25px;
  padding: 50px;
  box-shadow: 0 0 1em #4a4a4a;
  background: #fff;
  cursor: pointer;
  position: relative;
}
.site-container .site-content__row-1 .components .item h5 {
  font-weight: 600;
}
.site-container .site-content__row-1 .components .item img {
  max-width: 100px;
}
.site-container .site-content__row-1 .components .item:hover::before {
  content: "";
  background: rgba(77, 114, 70, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  border-radius: inherit;
}

:root {
  --site-header-height: #fff;
}

.site-header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  min-height: 110px;
}
.site-header--details-logo img {
  max-width: 200px;
}
.site-header--social-icons {
  background: #334a6e;
  width: 150px !important;
  height: 150px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: center;
  align-items: center;
}
.site-header--social-icons a {
  text-decoration: none;
}
.site-header--social-icons a i {
  font-style: normal;
  margin-left: 20px;
}
.site-header--social-icons a i::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 700;
  color: #fff;
  font-size: 1.6rem;
  transition: transform 300ms ease-in;
  transform: rotate(360deg);
  transition: 0.3s;
}
.site-header--social-icons a i:hover::before {
  color: #6d84a4;
}

:root {
  --site-header-height: #fff;
}

.site-menu {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.site-menu-item {
  list-style: none;
}
.site-menu-item--link {
  text-decoration: none;
  color: #3b5577;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  position: relative;
}
.site-menu-item--link:hover .line1,
.site-menu-item--link:hover .line2,
.site-menu-item--link:hover .line3,
.site-menu-item--link:hover .line4 {
  position: absolute;
  background: #3b5577;
}
.site-menu-item--link:hover .line1 {
  animation: move1 1500ms infinite ease;
  width: 1px;
  left: 0;
  bottom: 0;
}
.site-menu-item--link:hover .line2 {
  animation: move2 1500ms infinite ease;
  height: 1px;
  left: 0;
  top: 0;
}
.site-menu-item--link:hover .line3 {
  animation: move3 1500ms infinite ease;
  width: 1px;
  top: 0;
  right: 0;
}
.site-menu-item--link:hover .line4 {
  animation: move4 1500ms infinite ease;
  height: 1px;
  right: 0;
  bottom: 0;
}
.site-menu-item--link:hover {
  font-weight: 800;
  color: #3b5577;
}
.site-menu-item--link:hover::before {
  width: 100%;
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
:root {
  --site-header-height: #fff;
}

.slideshow .slider {
  margin-bottom: 0px !important;
}
.slideshow .slider-item-image {
  width: 100%;
  height: 515px;
  object-fit: cover;
}
.slideshow .slider-item-details {
  position: absolute;
  top: 0;
  width: 620px;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 70px;
  right: 50px;
  background: rgba(0, 0, 0, 0.1882352941);
  padding: 20px;
}
.slideshow .slider-item-details .slider-item--text {
  font-size: 2.6rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.slideshow .slider-item-details .slider-item--button {
  border: 1px solid #fff;
  background: transparent;
  margin-top: 30px;
  transition: all ease-in-out 0.5s;
}
.slideshow .slider-item-details .slider-item--button a {
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 20px;
  transition: all ease-in-out 0.5s;
}
.slideshow .slider-item-details .slider-item--button:hover {
  background: #fff;
}
.slideshow .slider-item-details .slider-item--button:hover a {
  color: #5e9106;
}
.slideshow .slider .slick-arrow {
  z-index: 1;
}
.slideshow .slider .slick-arrow::before {
  font-size: 2.2rem;
}
.slideshow .slider .slick-prev {
  left: 25px;
}
.slideshow .slider .slick-next {
  right: 25px;
}
.slideshow .slider .slick-dots {
  bottom: 25px;
}
.slideshow .slider .slick-dots li button:before {
  color: #161616;
  font-size: 1rem;
}

:root {
  --site-header-height: #fff;
}

.site-footer {
  background: rgb(17, 17, 17);
  color: #fff;
}
.site-footer-details {
  padding: 4em;
  column-gap: 30px;
}
.site-footer-details h4 {
  font-size: 24px;
  margin-bottom: 4rem;
  text-transform: uppercase;
  position: relative;
}
.site-footer-details h4::after {
  content: "";
  width: 30%;
  height: 3px;
  background: #3b5577;
  position: absolute;
  border: 0;
  left: 0;
  bottom: -15px;
}
.site-footer-details--information p {
  margin-bottom: 1.2rem;
  font-weight: 300;
  padding-right: 55px;
}
.site-footer-details--information p i {
  margin-right: 15px;
}
.site-footer-details--data p i {
  padding: 0 20px 20px 0;
}
.site-footer-details--data p i::before {
  background: hsl(0deg, 0%, 10%);
  padding: 10px;
  border-radius: 50%;
  font-size: 1.2rem;
}
.site-footer-details--icons .icons-element {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.site-footer-details--icons .icons-element a {
  text-decoration: none;
}
.site-footer-details--icons .icons-element a i {
  font-style: normal;
  background: hsl(0deg, 0%, 10%);
  border-radius: 5px;
  margin: 0px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-footer-details--icons .icons-element a i::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
  transition: transform 300ms ease-in;
  transform: rotate(360deg);
  transition: 0.3s;
}
.site-footer-details--icons .icons-element a i:hover::before {
  color: #6d84a4;
}
.site-footer--copyrights {
  background: rgb(21, 21, 21);
}
.site-footer--copyrights p {
  text-align: center;
  padding: 15px;
  margin-bottom: 0px;
}
.site-footer--copyrights p span {
  color: #3b5577;
}