@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
:root {
  --site-header-height: 105px;
}

.content-title {
  font-size: 3.6rem;
  background: #3b5577;
  line-height: 1.2;
  font-family: "Sen", sans-serif;
  color: #fff;
  font-weight: 400;
  padding: 30px;
  margin-bottom: 0;
  margin-top: 30px;
}

.blocks {
  margin: 0px auto;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  display: table;
}
.blocks .section-1 .left,
.blocks .section-2 .left,
.blocks .section-3 .left,
.blocks .section-4 .left,
.blocks .section-5 .left,
.blocks .section-6 .left,
.blocks .section-7 .left {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 7em 0;
}
.blocks .section-1 .left .title,
.blocks .section-2 .left .title,
.blocks .section-3 .left .title,
.blocks .section-4 .left .title,
.blocks .section-5 .left .title,
.blocks .section-6 .left .title,
.blocks .section-7 .left .title {
  color: #3b5577;
}
.blocks .section-1 .icon,
.blocks .section-2 .icon,
.blocks .section-3 .icon,
.blocks .section-4 .icon,
.blocks .section-5 .icon,
.blocks .section-6 .icon,
.blocks .section-7 .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blocks .section-1 .icon-image,
.blocks .section-2 .icon-image,
.blocks .section-3 .icon-image,
.blocks .section-4 .icon-image,
.blocks .section-5 .icon-image,
.blocks .section-6 .icon-image,
.blocks .section-7 .icon-image {
  border: 4px solid #3b5577;
  border-radius: 50%;
  padding: 15px;
  z-index: 1;
  background: #fff;
}
.blocks .section-1 .icon-image img,
.blocks .section-2 .icon-image img,
.blocks .section-3 .icon-image img,
.blocks .section-4 .icon-image img,
.blocks .section-5 .icon-image img,
.blocks .section-6 .icon-image img,
.blocks .section-7 .icon-image img {
  width: 55px;
  height: 55px;
}
.blocks .section-1 .icon::after,
.blocks .section-2 .icon::after,
.blocks .section-3 .icon::after,
.blocks .section-4 .icon::after,
.blocks .section-5 .icon::after,
.blocks .section-6 .icon::after,
.blocks .section-7 .icon::after {
  content: "";
  height: 100%;
  position: absolute;
  border: 4px solid #3b5577;
  z-index: 0;
}
.blocks .section-1 .right,
.blocks .section-2 .right,
.blocks .section-3 .right,
.blocks .section-4 .right,
.blocks .section-5 .right,
.blocks .section-6 .right,
.blocks .section-7 .right {
  display: flex;
  align-items: center;
}
.blocks .section-1 .right .description,
.blocks .section-2 .right .description,
.blocks .section-3 .right .description,
.blocks .section-4 .right .description,
.blocks .section-5 .right .description,
.blocks .section-6 .right .description,
.blocks .section-7 .right .description {
  background: #6a9cdf;
  padding: 20px;
  color: #fff;
  text-align: left;
  margin: 0px;
  border-radius: 20px;
}
.blocks .section-2,
.blocks .section-4,
.blocks .section-6 {
  flex-direction: row-reverse;
}