@import "variables.scss";

.site-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 1200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: -1px 0px 10px 3px rgba(138, 136, 136, 0.5);
  margin: 10vw auto;

  > .row {
    padding: 30px;

    .wrapper {
      header {
        font-size: 2.2rem;
        font-weight: 500;
        padding: 20px 30px;
        color: #494bf5;
        font-family: "Sen";
      }

      form {
        padding: 0px 30px;

        &.disabled {
          pointer-events: none;
          opacity: 0.7;
        }

        .dbl-field {
          display: flex;
          margin-bottom: 25px;
          flex-wrap: wrap;
        }

        i {
          position: absolute;
          top: 50%;
          left: 18px;
          color: #ccc;
          font-size: 17px;
          pointer-events: none;
          transform: translateY(-50%);
        }

        .field {
          position: relative;
          height: 50px;
          width: 100%;
        }

        .field input::placeholder,
        .message textarea::placeholder {
          color: #ccc;
        }

        .field input:focus,
        .message textarea:focus {
          padding-left: 47px;
          border: 2px solid $contact-form-details;
        }

        .field input:focus ~ i,
        .message textarea:focus ~ i {
          color: $contact-form-details;
        }

        .field input,
        .message textarea {
          width: 100%;
          height: 100%;
          outline: none;
          padding: 0 18px 0 48px;
          font-size: 16px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }

        .message {
          position: relative;

          i {
            top: 30px;
            font-size: 20px;
          }

          textarea {
            min-height: 130px;
            max-height: 230px;
            max-width: 100%;
            min-width: 100%;
            padding: 15px 20px 0 48px;

            &:focus {
              padding-top: 14px;
            }

            &::-webkit-scrollbar {
              width: 0px;
            }
          }
        }

        .button-area {
          margin: 25px 0;
          display: flex;
          align-items: center;

          button {
            color: #fff;
            border: none;
            outline: none;
            font-size: 18px;
            cursor: pointer;
            border-radius: 5px;
            padding: 13px 25px;
            background: $contact-form-details;
            transition: background 0.3s ease;

            &:hover {
              background: $contact-form-details;
            }
          }

          span {
            font-size: 17px;
            margin-left: 30px;
            display: none;
          }
        }
      }
    }

    .image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
