@import "variables.scss";

.site-container{
    // --glowny-kolor-tla: brown;
    // background-color: var(--glowny-kolor-tla);

    font: 16px 'Quicksand', sans-serif;
    color: $text-color-dark;

    .site-content{
        &__row-1{
            max-width: 70%;
            margin: 0 auto;
            
            .components{
                .item{
                    text-align: center;
                    align-items: center;

                    img{
                        max-width: 100px;
                    }
                }
            }

        }
    }
   
}