@import "variables.scss";

.site-container {
    // --glowny-kolor-tla: brown;
    // background-color: var(--glowny-kolor-tla);

    font: 16px 'Sen', sans-serif;
    color: $text-color-dark;

    .site-content {

        &__row-0,
        &__row-1,
        &__row-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            h2 {
                font-size: 3.5rem;
                font-weight: 800;
                color: $primary-color;
                letter-spacing: 2px;
                position: relative;

                &::after {
                    content: "";
                    width: 35%;
                    height: 3px;
                    background: #fff;
                    color: #fff;
                    position: absolute;
                    border: 0;
                    bottom: 36px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }

        }

        &__row-0 {
            background: #fff;
            // align-items: center;
            // display: flex;
            // align-items: center;

            .about-me {
                max-width: 75%;
                margin: 0px auto;
                align-items: center;

                &-textBlock {
                    // border: 5px solid #334a6e;
                    // box-shadow: -5px 7px 8px 1px #c1c1c1;
                    box-shadow: 0px 0px 2px 1px #c1c1c1;
                    padding: 20px 90px 20px 20px;
                    // padding: 30px;
                    // background: $light-primary-color;
                    height: 100%;
                    // margin-right: -50px;
                    z-index: 1;
                    background: #fff;


                    h2,
                    h3,
                    p {
                        color: #333;
                    }

                    h2 {
                        font-size: 3.4rem;
                        font-weight: 800;
                        color: $primary-color;
                    }

                    h3 {
                        font-size: 1.8rem;
                        font-weight: 300;
                        margin-bottom: 20px;
                        line-height: normal;
                    }

                    p {
                        font-size: 1.1rem;
                        line-height: 1.6;
                        margin-bottom: 20px;
                        line-height: 1.2;
                    }

                    .socials {
                        .fab {
                            border-radius: 50%;
                            background-color: #0e76a8;
                            font-size: 30px;
                            padding: 15px;
                            color: #fff;
                        }
                    }
                }

                &-imageBlock {
                    padding: 0px;
                    height: 360px;
                    display: flex;
                    justify-content: flex-start;
                    margin-left: -45px;
                    position: relative;

                    img {
                        height: 100%;
                        box-shadow: 44px -44px #a1b3b5;
                        z-index: 2;
                    }

                    &::before {
                        content: "";
                        background: url("../img/dots.jpg");
                        width: 462px;
                        height: 100px;
                        z-index: 0;
                        position: absolute;
                        opacity: 0.5;
                        background-size: cover;
                        border: 0;
                        margin-bottom: 0px;
                        position: absolute;
                        bottom: -100px;
                        left: -140px;
                    }
                }
            }

        }

        &__row-1 {
            // &::before{
            //     content: "";
            //     background: url("../img/favicon.png");
            //     width: 100%;
            //     height: 100%;
            //     z-index: -1;
            //     position: absolute;
            //     opacity: 0.5;
            // }

            // &::before {
            //     content: "";
            //     background: url("../img/slider.jpg");
            //     width: 100%;
            //     height: 100%;
            //     z-index: -1;
            //     position: absolute;
            //     opacity: 0.8;
            //     background-size: cover;
            //     background-position: center;
            // }

            .content-wrapper {
                max-width: 70%;
                margin: 50px auto;

                h2 {
                    color: #fff;
                    text-align: center;
                    padding-bottom: 50px;
                }
            }

            .components {
                justify-content: space-between;

                .item {
                    text-align: center;
                    align-items: center;
                    height: 450px;
                    padding: 0 20px;
                    border-radius: 25px;
                    box-shadow: 0 0 1em #4a4a4a;
                    background: #fff;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0 20px;
                    // transition: all 66.5s ease-out;

                    h5 {
                        font-weight: 600;
                        color: $primary-color;
                        margin-bottom: 30px;
                        font-size: 1.4rem;
                    }

                    .image {
                        background:rgb(177, 199, 158);
                        border-radius: 50%;
                        height: 200px;
                        width: 200px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        margin-bottom: 30px;
                        transition: all 400ms ease;

                        img {
                            max-width: 100px;
                        }
                        &:hover{
                            transform: rotate(360deg);
                        }
                    }


                    // &:nth-child(1){
                    //     background: #d1dbc1;
                    // }

                    // &:nth-child(2){
                    //     background: #d5c1db;
                    // }

                    // &:nth-child(3){
                    //     background: #c1cfdb;
                    // }

                    // &:hover {
                    //     &::before {
                    //         content: '';
                    //         background: rgba($secondary-color, 0.6);
                    //         width: 100%;
                    //         height: 100%;
                    //         z-index: 2;
                    //         position: absolute;
                    //         z-index: 2;
                    //         left: 0;
                    //         top: 0;
                    //         border-radius: inherit;
                    //     }
                    // }
                }
            }

        }

        &__row-2 {
            flex-direction: column;
            height: auto;

            .elements {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                position: relative;

                // &::before {
                //     content: '';
                //     height: 100%;
                //     width: 100%;
                //     position: absolute;
                //     z-index: 0;
                //     top: 0;
                //     right: 0;
                //     background: url("./img/favicon.png");
                // }
                &::before {
                    content: "";
                    background: url("../img/favicon.png") no-repeat;
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    z-index: 2;
                    top: -80px;
                    margin: 0 auto;
                    right: 0;
                    left: 0;
                    background-position: center;
                    background-size: contain;
                }

                &-item {
                    position: relative;
                    cursor: pointer;
                    flex: 0 0 100%;
                    max-width: 50%;
                    flex-wrap: wrap;
                    overflow: hidden;
                    transition: all 550ms ease-in;


                    img {
                        height: 350px;
                        width: 100%;
                        object-fit: cover;
                        transition: all 350ms ease-in;
                    }

                    &::before {
                        content: '';
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        right: 0;
                        background: green;
                    }

                    .tekst {
                        position: absolute;
                        color: #fff;
                        margin: 0 auto;
                        z-index: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        top: 0;

                        h5 {
                            font-size: 3rem;
                            font-weight: 700;
                        }

                        p {
                            font-size: 1.5rem
                        }
                    }

                    &1 {
                        &::before {
                            background: rgba($primary-color, 0.7);
                        }
                    }

                    &2 {
                        &::before {
                            background: rgba($light-primary-color, 0.7);
                        }
                    }

                    &3 {
                        &::before {
                            background: rgba($secondary-color, 0.7);
                        }
                    }

                    &4 {
                        &::before {
                            background: rgba(rgb(177, 199, 158), 0.7);
                        }
                    }

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }

                        &::before {
                            background: rgba(#000, 0.2);
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

}