@import "variables.scss";

.site-content-wrapper {
  .tabs {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(43, 43, 43, 0.15);
    margin: 0 auto;

    @media (max-width: 991px) {
      max-width: 100%;
      box-shadow: unset;
    }

    &__head {
      display: flex;
      align-items: stretch;

      @media (max-width: 991px) {
        flex-direction: column;
      }
    }

    .tabs__toggle {
      font-size: 1.2rem;
      padding: 20px;
      display: flex;
      width: 80%;
      height: 50px;
      align-items: center;
      justify-content: center;
      background: #f1f7ff;
      cursor: pointer;

      @media (max-width: 991px) {
        width: 100%;
        font-size: 1.1rem;
      }

      &.is-active {
        background: #fff;
        font-weight: 500;
      }
    }
    &__content {
      padding: 30px;
      display: none;
      margin-top: 40px;

      &.is-active {
        display: block;
      }
    }

    &__title {
      color: #333;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 20px;

      @media (max-width: 991px) {
        font-size: 1.3rem;
      }
    }
    &__text {
      color: #333;
      font-size: 1rem;

      @media (max-width: 991px) {
        font-size: 0.9rem;
      }
    }
  }

  .accordion {
    &-item {
      background-color: #fff;
      color: #333;
      border: none;
      border-bottom: 1px solid rgb(111, 162, 226, 0.25);

      &-header {
        padding: 10px 20px 10px 0;
        font-size: 1.2rem;
        font-family: "Sen", sans-serif;
        color: #333;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.2s ease-out;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 991px) {
          font-size: 1rem;
        }

        &-name {
          margin: 0;

          &::before {
            content: "\002B";
            font-size: 2rem;
            margin-right: 30px;
            color: #6a9ce0;
          }
        }

        &.active {
          .accordion-item-header-name {
            &::before {
              content: "\2212";
            }
          }
        }

        &-cost {
          color: $secondary-color;
          font-weight: 500;
          white-space: nowrap;
        }

        &:hover {
          background: #f1f7ff;
        }
      }

      &-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        &-content {
          padding-top: 0;
          font-size: 1rem;
          padding: 0 1rem 1rem;
          line-height: 1.5rem;
          color: rgb(119, 119, 119);

          .site-menu {
            h5 {
              @media (max-width: 991px) {
                font-size: 1rem;
              }
            }
            &-item {
              @media (max-width: 991px) {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}
