@import "variables.scss";


.slideshow {
    .slider {
        margin-bottom: 0px !important;

        &-item {
            &-image {
                width: 100%;
                object-fit: cover;
                height: 100vh;
            }

            &-details {
                position: absolute;
                top: 0;
                max-width: 1000px;
                display: flex;
                align-items: center;
                flex-direction: column;
                top: 170px;
                right: 40px;
                padding: 20px;

                span {
                    color: $slideshow-text;
                }

                .slider-item {
                    &--text {
                        color: $text-color-dark;
                        margin-bottom: 0px;
                        line-height: 1.2;
                        text-align: right;
                        font: 400 3.6rem Sen, sans-serif 
                    }

                    &--button {
                        border: 1px solid $text-color-dark;
                        background: transparent;
                        margin-top: 30px;
                        transition: all ease-in-out 0.5s;

                        a {
                            color: $text-color-dark;
                            text-decoration: none;
                            border-radius: 3px;
                            font-size: 1.4rem;
                            text-align: center;
                            text-transform: uppercase;
                            display: inline-block;
                            padding: 10px 20px;
                            transition: all ease-in-out 0.5s;
                        }

                        &:hover {
                            background: #fff;

                            a {
                                color: $details-color;
                            }
                        }
                    }
                }
            }
        }

        // .slick-arrow {
        //     z-index: 1;

        //     &::before {
        //         color: $text-color-dark;
        //         font-size: 2.2rem;
        //     }
        // }

        // .slick-prev {
        //     left: 25px;

        //     &::before {
        //         font-family: 'Font Awesome 5 Free';
        //     }
        // }

        // .slick-next {
        //     right: 25px;
        //     &::before {
        //         font-family: 'Font Awesome 5 Free';
        //     }
        // }

        .slick-dots {
            bottom: 25px;
            display: flex !important;
            align-items: flex-start;
            padding: 0 20px;

            & li button:before {
                color: transparent;
                font-size: 1rem;
                border: 3px solid $primary-color;
                border-radius: 50%;
            }
        }
    }
}