@import "variables.scss";

.slideshow {
  .slider {
    margin-bottom: 0 !important;

    &-item {
      &-image {
        width: 100%;
        object-fit: cover;
        height: 100vh;

        @media (max-width: 991px) {
          height: 300px;
        }
      }

      &-details {
        position: absolute;
        max-width: 1000px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        top: 170px;
        right: 40px;
        padding: 20px;

        @media (max-width: 991px) {
          max-width: 100%;
          bottom: 0;
          background: #ffffff94;
          top: unset;
          right: unset;
        }

        span {
          position: relative;
          z-index: 1;
          font-weight: 500;
          color: $secondary-color;
        }

        .slider-item {
          &--text {
            color: rgb(69, 69, 69);
            margin-bottom: 0;
            line-height: 1.2;
            text-align: right;
            font: 400 3.6rem Sen, sans-serif;

            @media (max-width: 991px) {
              font-size: 2rem;
            }
            @media (max-width: 600px) {
              font-size: 1.5rem;
            }
          }

          &--button {
            border: none;
            background: rgba(255, 255, 255, 0.6);
            margin-top: 25px;
            padding: 0;

            @media (max-width: 991px) {
              margin-top: 5px;
            }

            a {
              color: rgb(63, 63, 63);
              text-decoration: none;
              border-radius: 3px;
              font-size: 1.7rem;
              text-align: center;
              padding: 10px 20px;
              position: relative;
              z-index: 0;
              padding-right: 30px;
              display: flex;
              align-items: center;

              @media (max-width: 991px) {
                font-size: 1.5rem;
              }
              @media (max-width: 600px) {
                font-size: 1.2rem;
              }

              &:before {
                content: "";
                display: inline-block;
                position: absolute;
                right: 0;
                background-color: $secondary-color;
                opacity: 0.7;
                height: 100%;
                width: 35%;
                margin-right: -10%;
                z-index: -1;
                top: 0;
                transition: all ease 0.3s;
              }
              i {
                position: absolute;
                font-size: 1.4rem;
                right: 0;
                transition: all ease 0.3s;
              }
            }

            &:hover {
              a {
                &::before {
                  width: 110%;
                }
                i {
                  right: -8px;
                }
              }
            }
          }
        }
      }
    }

    .slick-dots {
      bottom: 25px;
      display: flex;
      align-items: flex-start;
      padding: 0 20px;

      & li button:before {
        color: transparent;
        font-size: 1rem;
        border: 3px solid $primary-color;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        display: none !important;
      }
    }
  }
}

body {
  &.inner-page {
    .slideshow {
      display: none;
    }
  }
}
