@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

$theme-background: #d6dde5;

$primary-color: #3b5577;
$light-primary-color: #6d84a4;
$secondary-color: #4d7246;
$light-secondary-color: #94c06f;
$tertiary-color: #1b1e27;
$quaternary-color: #d4d4d4;
$based-color: #fff;
$contact-form-details: #6a9cdf;

$header-size: 2rem;
$motto-size: 1rem;

$header-icon: #333;
$header-icon-hover: $primary-color;

$menu-color: #333;
$menu-color-hover: $primary-color;
$sticky-menu: #333;
$sticky-menu-bg: #f1f7ff;

$slideshow-text: #6a9cdf;

$qlink1: #3b5577;
$qlink2: #5c7390;
$qlink3: #8899af;
$qlink4: #9ca5af;

$row1-bg: $light-primary-color;
$offer1: rgba(#3b5577, 0.7);
$offer2: rgba(#3b5577, 0.7);
$offer3: rgba(#3b5577, 0.7);
$offer4: rgba(#3b5577, 0.7);

$ig-bg-hover: #d0def1;

$footer-bg: #f1f7ff;
$footer-icon: #fff;
$footer-icon-bg: rgb(146 158 173);
$footer-icon-hover: #6a9cdf;
$copyright: rgb(146 158 173);

$text-color-dark: #333;
$text-color-light: #fff;
$text-menu-color: $primary-color;

$details-color: #6a9cdf;

:root {
  --site-header-height: 105px;
}
