@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

$theme-background: #d6dde5;

$primary-color: #3b5577;
$light-primary-color: #6d84a4;
$secondary-color: #4d7246;
$light-secondary-color: #94c06f;
$tertiary-color: #1b1e27;
$quaternary-color: #d4d4d4;
$based-color: #fff;

$header-size: 2rem;
$motto-size: 1rem;

$footer-bg: #181a1e;

$text-color-dark: #333;
$text-color-light: #fff;
$text-menu-color: $primary-color;

$header-icon: #fff;
$header-icon-hover: $light-primary-color;
$header-menu: $primary-color;
$header-menu-hover: $primary-color;

:root {
    --site-header-height: 130px;
}