@import "variables.scss";

.blocks {
  margin: 0 auto;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  display: table;

  &:nth-child(odd) {
  }

  #sections {
    margin: 0 0 3em;
    @media (max-width: 991px) {
      flex-direction: column;
      margin: 50px;
    }
    @media (max-width: 450px) {
      margin: 20px;
    }
    .left {
      align-items: center;
      justify-content: center;
      display: flex;
      padding: 7em 0;

      @media (max-width: 991px) {
        padding: 1em 0;
      }

      .title {
        color: $primary-color;

        @media (max-width: 991px) {
          font-size: 2rem;
        }
      }
    }

    .icon {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &-image {
        border: 4px solid $primary-color;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        z-index: 1;
        background: #fff;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 55px;
          height: 55px;
        }
      }

      &::after {
        content: "";
        height: 100%;
        position: absolute;
        border: 2px solid $primary-color;
        background: #3b5577;
        z-index: 0;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $secondary-color;
      border-radius: 20px;

      .description {
        padding: 20px;
        color: #fff;
        text-align: left;
        margin: 0;
      }
    }
  }

  .section-2,
  .section-4,
  .section-6 {
    flex-direction: row-reverse;
  }
}
